<header class="squish-header">
  <div class="squish-container">
    <div class="header-flex">
      <div class="logo-bounce">
        <a href="./" class="dash-logo">
          <span class="logo-text">EnterPlayZone.com</span>
        </a>
      </div>

      <nav class="nav-squish">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="./#slide-guide" class="nav-link">Banking Guide</a>
          </li>
          <li class="nav-item">
            <a href="./squish-updates.html" class="nav-link">Market Updates</a>
          </li>
          <li class="nav-item">
            <a href="./gel-contact.html" class="nav-link">Bank Support</a>
          </li>
          <li class="nav-item">
            <a href="./jelly-disclaimer.html" class="nav-link">Bank Policies</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
